* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Yantramanav', sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none !important;
}

/********************HEADER-TOP**********************/
#header .header-top {
  font-size: 1rem;
  height: 60px;
  border-bottom: 1px solid rgb(230, 230, 230);
}
#header .header-top .action-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
#header .header-top .action-items li {
  display: inline-block;
}
#header .header-top .action-items li:nth-child(1) {
  float: left;
  line-height: 60px;
  padding: 0rem 2rem;
  border-right: 1px solid rgb(230, 230, 230);
}
#header .header-top .action-items li:nth-child(2) {
  float: left;
  line-height: 60px;
  padding: 0rem 2rem;
  border-right: 1px solid rgb(230, 230, 230);
}
#header .header-top .action-items li p {
  padding: 0;
  margin: 0;
}
#header .header-top .header-flex {
  display: flex;
  justify-content: space-between;
}
#header .header-top .action-items li i {
  vertical-align: text-bottom;
}
#header .header-top .pull-right {
  list-style: none;
  float: right;
}
#header .header-top .pull-right li {
  display: inline-block;
  
}
#header .header-top .pull-right li:nth-child(1) {
  background-color: rgb(0, 0, 0);
  line-height: 38px;
  padding: 0px;
}
#header .header-top .pull-right li:nth-child(1) span {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  height: 60px;
  line-height: 60px;
  padding: 0rem 2rem;
  color: #fff;
}
#header .header-top .pull-right li:nth-child(2) {
  padding: 0rem 2rem;
  height: 60px;
  line-height: 60px;
  border-right: 1px solid rgb(230, 230, 230);
}
#header .header-top .pull-right li:nth-child(2) a {
  color: #111;
}
#header .header-top .pull-right li:nth-child(3) a,
#header .header-top .pull-right li:nth-child(4) a {
  position: relative;
  padding: 0rem 1rem;
  height: 60px;
  line-height: 60px;
  color: #111;
}

/********************NAVBAR - NAV - MENU*************/

.navbar {
  position: fixed;
  background: #fff;
  top: 0;
  bottom: 0;
  box-shadow: rgba(136, 136, 136, 0.1) 0px 2px 12px;
}
.navbar-nav li a {
  position: relative;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  line-height: 1.5;
  text-decoration: none;
  color: #000;
}
.navbar-nav .dropdown-menu {
  position: absolute;
  display: none;
  list-style: none;
	padding: 0;
	margin: 0;
  border-radius: 0;
}
.navbar-nav li {
	position: relative;
}
.navbar-nav li:hover > .dropdown-menu {
  background-color: #fff;
	display: block;
  width: 15rem;
  border-top: 3px solid #ae0019;
  box-shadow: 0 0 10px 0 rgb(46 56 100 / 10%);
  z-index: 999;
}
.navbar-nav li:hover > .dropdown-menu a {
  font-weight: 400;
  font-size: 1rem;
}
.navbar-nav a {
  color: #f5f5f5;
  display: inline-block;
  line-height: 10px;
  text-decoration: none;
}
.navbar-nav a:hover {
  color: #ae0019;
  transition: all 0.4s ease-out;
}
/*********************Slide**********************/
#slide .carousel button {
  background-color: #fff;
  width: 10px;
  height: 10px;
  margin: 0.7rem;
  border: 0;
  border-radius: 50%;
  opacity: 0.7;
}
#slide .carousel .carousel-item {
  position: relative;
}
#slide .carousel .inner-caption{
  position: absolute;
  top: 12rem;
  left: 350px;
  color: #fff;
}
#slide .carousel .inner-caption h1 {
  font-weight: 300;
  font-size: 5rem;
  text-transform: uppercase;
}
#slide .carousel .inner-caption h1 > strong {
  font-weight: 800;
}
#slide .carousel .inner-caption h1 > span {
  font-weight: 700;
  color: #ae0019;
}
#slide .carousel .inner-caption .btn-slide {
  background: #ae0019;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 2rem;
  width: 270px;
  height: 90;
  border: 0;
  border-radius: 0;
  line-height: 40px;
  color: #f5f5f5;
  text-transform: uppercase;
}
#slide .carousel .inner-caption .btn-slide:hover {
  background: transparent;
  border: 3px solid #ae0019;
  transition: all 0.4s ease-in-out;
}

/***************************BG-DEFAULT****************************/
#bg-default .bg-thumb {
  margin-bottom: 1rem;
}
#bg-default .bg-thumb-bottom {
  margin-bottom: 2rem;
}
#bg-default a img{
  display: inline-block;
  transition: all 0.4s ease-in-out;
}
#bg-default .bg-thumb-bottom {
  margin-top: 3.5rem;
}
#bg-default .bg-thumb-top:hover img,
#bg-default .bg-thumb-bottom:hover img,
#bg-default .bg-thumb:hover img, 
#bg-default .bg-thumb-right:hover img {
  box-shadow: 0 12px 38px 0 rgb(0 0 0 / 12%);
  transition: all 0.4s ease-in-out;
}

/***************************ABOUT******************************/
#about .about-img {
  background: url('images/produit-1.jpg') center center no-repeat;
  background-size: cover;
  min-height: 450px;
  transition: all 0.4s ease-in-out;
}
#about .bg-about-custom {
  background-color: #13130d;
}
#about .about-text {
  padding: 7rem 2.5rem;
}
#about .about-text h5 {
  font-weight: 300;
  font-size: 2rem;
  color: #f5f5f5;
}
#about .about-text h5 > span {
  color: #ae0019;
  text-transform: uppercase;
}
#about .about-text h3 {
  font-weight: 800;
  padding-top: 1rem;
  text-transform: capitalize;
  color: #fff;
}
#about .about-text p {
  padding-top: 1rem;
  letter-spacing: 2;
  color: #fff;
}
#about .about-text .btn {
  font-weight: 500;
  font-size: 1rem;
  padding: 0;
  margin-top: 1.25rem;
  border-bottom: 1px solid #ae0019;
  text-transform: capitalize;
  color: #ae0019;
}
#about .about-text .btn:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
  transition:  all 0.4s ease-in-out;
}

/********************BEST-MONTH*****************/
#best-month h2 {
  font-weight: 900;
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
#best-month .products {
  padding-top: 4rem;
  transition: all 1s ease-in-out;
}
#best-month .product {
  margin-right: 2rem;
}
#best-month .product-thumb {
  position: relative;
  width: 100%;
  cursor: pointer;
}
#best-month .product-thumb-hover {
  position: absolute;
  background: rgba(17, 17, 17, 0.55);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
#best-month .product-thumb-hover ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
#best-month .product-thumb-hover ul li {
  display: inline-block;
  background: rgb(253, 253, 253);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  transition: all 0.7s ease;
  transform: translateY(100px);
}
#best-month .product-thumb-hover ul img {
  margin: auto 1rem;
}
#best-month .product-thumb:hover .product-thumb-hover,
#best-month .product-thumb:hover ul li {
  opacity: 1;
  transition: all 0.7s ease;
  transform: translateY(0px);
}

#best-month .product .detail-product {
  text-align: center;
  margin-top: 1.5rem;
}
#best-month .product .detail-product h4 > a {
  font-weight: 700;
  font-size: 1rem;
  color: #13130d;
}
#best-month .product .detail-product span {
  font-weight: 500;
  font-size: 1rem;
}
#best-month .slick-dots li {
  width: 0.65rem !important;
  height: 0.65rem !important;
  padding: 0 !important;
  margin: 0 5px;
}
#best-month .slick-dots li button {
  border: 1px solid #8d9198 !important;
  border-radius: 0;
  width: 0.65rem !important;
  height: 0.65rem !important;
  padding: 0 !important;
  margin: 0 auto;
}
#best-month .slick-dots li.slick-active {
  background: #111;
}
#best-month .slick-prev {
  left: -40px;
}
#best-month .slick-next {
  right: -10px;
}
.slick-prev:before, .slick-next::before,
.slick-prev:before, .slick-prev::before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #13130d !important;
}

/********************HOW-TO-WORK********************/
#how-to-work {
  background: rgb(240, 240, 240);;
}
#how-to-work h2 {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 4rem;
  text-transform: capitalize;
}
#how-to-work .icon {
  font-size: 4rem !important;
  margin-bottom: 2rem;
}
#how-to-work span {
  font-weight: 300;
  font-size: 1.5rem;
  color: #13130d;
}
#how-to-work p {
  font-size: 1rem;
  line-height: 25px;
  padding-top: 2rem;
}

/************************NEWSLETTER***************/
#newsletter h4 {
  font-weight: 300;
  font-size: 2rem;
}
#newsletter span {
  font-weight: 300;
}
#newsletter .input-group {
  margin-top: 2rem;
}
#newsletter .form-control {
  background-color: #f8f8f8;
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 2;
  line-height: 24px;
  min-height: 60px;
  border: 1px solid #f8f8f8;
  border-radius: 0;
}
#newsletter .form-control:focus {
  outline: 0;
  box-shadow: none;
}
#newsletter .btn-outline-secondary {
  background: #ae0019;
  font-weight: 500;
  font-size: 1.2rem;
  border: 0;
  border-radius: 0;
  color: #f8f8f8;
}
#newsletter .btn-outline-secondary:focus {
  outline: 0;
  box-shadow: none;
}

/****************PAGE CATALOG PRODUCT*******************/
#breadcrumb {
  background: rgb(248, 248, 248);
}
#breadcrumb .inner {
  padding: 2rem 0;
}
#breadcrumb .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#breadcrumb .inner .path {
  text-align: right;
  color: rgb(155, 153, 153);
}
#breadcrumb .inner h1 {
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
}

/********************CATALOG********************/
#catalog .widget-area {
  border-right: 1px solid #e6e6e6;
}
#catalog .widget-one {
  margin-bottom: 3rem;
}
#catalog .widget-one h5 {
  font-size: 1.3rem;
  padding: 0.8rem 0;
  margin-bottom: 0;
  border-bottom: 1px solid #e6e6e6;
}
#catalog .widget-one ul {
  list-style: none;
  padding: 0;
  margin-top: 1.4rem;
}
#catalog .widget-one ul li {
  margin-bottom: 1rem;
}
#catalog .widget-one ul li .icon {
  color: #ae0019;
}
#catalog .widget-one ul li a {
  font-size: 1rem;
  margin-right: 5px;
  margin-left: 5px;
  color: #111;
}
#catalog .widget-one ul li span {
  font-weight: 300;
}
#catalog .widget-one ul li a:hover {
  text-decoration: underline !important;
}

#catalog .widget-two {
  margin-bottom: 3rem;
}
#catalog .widget-two h5 {
  font-size: 1.3rem;
  padding: 0.8rem 0;
  margin-bottom: 0;
  border-bottom: 1px solid #e6e6e6;
}
#catalog .widget-two ul {
  list-style: none;
  padding: 0;
  margin-top: 1.4rem;
}
#catalog .widget-two ul li {
  margin-bottom: 1rem;
}
#catalog .widget-two ul li a {
  font-size: 1rem;
  margin-right: 5px;
  margin-left: 5px;
  color: #111;
}
#catalog .widget-two ul li span {
  margin-left: 5px !important;
}
#catalog .widget-two ul li a:hover {
  text-decoration: underline !important;
}

#catalog .widget-three {
  margin-bottom: 3rem;
}
#catalog .widget-three h5 {
  font-size: 1.3rem;
  padding: 0.8rem 0;
  margin-bottom: 0;
  border-bottom: 1px solid #e6e6e6;
}
#catalog .widget-three ul {
  list-style: none;
  padding: 0;
  margin-top: 1.4rem;
}
#catalog .widget-three ul li {
  margin-bottom: 1rem;
}
#catalog .widget-three ul li a {
  font-size: 1rem;
  margin-right: 5px;
  margin-left: 5px;
  color: #111;
}
#catalog .widget-three ul li a:hover {
  text-decoration: underline !important;
}

#catalog .wrap-shop {
  margin-top: 1rem;
}
#catalog .filter-shop-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#catalog .filter-shop-box .form-wrap {
  float: right !important;
}
#catalog .filter-shop-box p {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
}
#catalog .filter-shop-box .form-select {
  background: rgb(248, 248, 248);
  font-weight: 400;
  font-size: 1rem;
  width: 300px;
  min-height: 60px;
  line-height: 24px;
  font-style: italic;
  border-radius: 0;
  color: rgb(136 , 136, 136);
}
#catalog .filter-shop-box .form-select option {
  font-weight: 300;
  font-size: 1.2rem;
  font-style: normal;
  color: #000;
}
#catalog .filter-shop-box .form-select:focus {
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid #13130d;
}

#catalog .products-catalog {
  padding-top: 4rem;
  transition: all 1s ease-in-out;
}
#catalog .product-thumb-catalog {
  position: relative;
  width: 100%;
  cursor: pointer;
}
#catalog .product-thumb-hover-catalog {
  position: absolute;
  background: rgba(17, 17, 17, 0.55);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
#catalog .product-thumb-hover-catalog ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
#catalog .product-thumb-hover-catalog ul li {
  display: inline-block;
  background: rgb(253, 253, 253);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  transition: all 0.7s ease;
  transform: translateY(100px);
}
#catalog .product-thumb-hover-catalog ul img {
  margin: auto 1rem;
}
#catalog .product-thumb-catalog:hover .product-thumb-hover-catalog,
#catalog .product-thumb-catalog:hover ul li {
  opacity: 1;
  transition: all 0.7s ease;
  transform: translateY(0px);
}

#catalog .product .detail-product {
  text-align: center;
  margin-top: 1.5rem;
}
#catalog .product .detail-product h4 > a {
  font-weight: 700;
  font-size: 1rem;
  color: #13130d;
}
#catalog .product .detail-product span {
  font-weight: 500;
  font-size: 1rem;
}
#catalog .data-table ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#catalog .data-table {
  padding-top: 2rem;
}
#catalog .data-table ul li {
  display: inline-block;
  margin: 1.2rem;
}
#catalog .data-table ul li a {
  padding: 1rem 1.5rem;
  border: 1px solid #b8b8b8;
  color: #1e1e1e;
  transition: all 0.4s ease-in-out;
}
#catalog .data-table ul li a:hover {
  box-shadow: rgba(136, 136, 136, 0.1) 10px 18px 2px;
  transition: all 0.4s ease-in-out;
}
/***************WARRANTIES********************/
#warranties {
  background: #e6e6e6;
  text-align: center;
}
#warranties h4 {
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem 0;
}
#warranties p {
  font-weight: 400;
  font-size: 1.25rem;
  color: #555;
  line-height: 25px;
  margin-bottom: 3rem;
}
#warranties .warrantie-item .icon {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
#warranties .warrantie-item h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
#warranties .warrantie-item p {
  font-weight: 300;
  line-height: 25px;
}

/*****************SINGLE PRODUCT***************/
#single-product .tabs-description {
  padding-top: 4rem;
}
#single-product .nav-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  border-bottom: 0;
}
#single-product .nav-tabs li a {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #555;
  border: 1px solid #555;
  border-radius: 30px;
  padding: 0.5rem 2rem;
}
#single-product .nav-tabs li a:active,
#single-product .nav-tabs li a:focus {
  text-decoration: underline !important;
}
#single-product .content {
  padding-top: 2.5rem;
}
#single-product .more {
  margin-top: 3rem;
}
#single-product .more h3 {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: capitalize;
  border-bottom: 3px solid #1e1e1e;
}
#single-product .more ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#single-product .more ul li a {
  color: #1e1e1e;
}
#single-product .more ul li {
  margin-top: 1rem;
}
#single-product .more .right {
  float: right !important;
  text-decoration: underline !important;
}
#single-product .pull-right {
  float: right !important;
}
#single-product .pull-right h1 {
  font-weight: 300;
  font-size: 4rem;
  font-style: italic;
}
#single-product .pull-right .price h4 {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1.5rem;
  color: #ae0019;
}
#single-product .pull-right .price h4 > span {
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: line-through !important;
}
#single-product .pull-right p {
  margin-top: 1.5rem;
}
#single-product .pull-right .star {
  font-size: 1.4rem;
  color: #555;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#single-product .pull-right .leasing {
  font-style: italic;
  text-decoration: underline !important;
  color: #13130d;
}
#single-product .pull-right .wrap-info {
  margin-top: 1.5rem;
}
#single-product .pull-right .wrap-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#single-product .pull-right .wrap-info ul li {
  padding-top: 1rem;
}
#single-product .pull-right .cta-shipping {
  padding: 0;
  margin-top: 3rem;
}
#single-product .pull-right .cta-shipping .cta-1 {
  background: transparent;
  width: 250px;
  height: 60px;
  line-height: 45px;
  border: 1px solid #13130d;
  border-radius: 0;
  color: #1e1e1e;
  transition:  all 0.4s ease-in-out;
}

#single-product .pull-right .cta-shipping .cta-2 {
  background: #1e1e1e;
  width: 250px;
  height: 60px;
  line-height: 45px;
  border-radius: 0;
  color: #f8f8f8;
  transition:  all 0.4s ease-in-out;
}
#single-product .pull-right .cta-shipping .cta-1:hover,
#single-product .pull-right .cta-shipping .cta-2:hover {
  background: transparent;
  border: 1px solid #b8b8b8;
  color: #111;
  transition:  all 0.4s ease-in-out;
}
#single-product .pull-right .cta-shipping .cta-1:focus,
#single-product .pull-right .cta-shipping .cta-2:focus {
  outline: 0;
  box-shadow: none;
}

/***************SIMILAR PRODUCT****************/
#similar-product .clear {
  border-top: 1px solid #acacac;
}
#similar-product h2 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-top: 2rem;
  text-transform: capitalize;
}
#similar-product .product-thumb-catalog {
  position: relative;
  width: 100%;
  cursor: pointer;
}
#similar-product .product-thumb-catalog {
  position: relative;
  width: 100%;
  cursor: pointer;
}
#similar-product .product-thumb-hover-catalog {
  position: absolute;
  background: rgba(17, 17, 17, 0.55);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
#similar-product .product-thumb-hover-catalog ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
#similar-product .product-thumb-hover-catalog ul li {
  display: inline-block;
  background: rgb(253, 253, 253);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  transition: all 0.7s ease;
  transform: translateY(100px);
}
#similar-product .product-thumb-hover-catalog ul img {
  margin: auto 1rem;
}
#similar-product .product-thumb-catalog:hover .product-thumb-hover-catalog,
#similar-product .product-thumb-catalog:hover ul li {
  opacity: 1;
  transition: all 0.7s ease;
  transform: translateY(0px);
}

#similar-product .product .detail-product {
  text-align: center;
  margin-top: 1.5rem;
}
#similar-product .product .detail-product h4 > a {
  font-weight: 700;
  font-size: 1rem;
  color: #13130d;
}
#similar-product .product .detail-product span {
  font-weight: 500;
  font-size: 1rem;
}

/*****************FOOTER***********************/

#footer {
  background: #13130d;
}
#footer h3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: rgb(187, 187, 187);
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer ul li {
  padding-bottom: 0.75rem;
}
#footer ul a {
  font-weight: 300;
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
  transition:  all 0.3s ease-in-out;
}
#footer ul a:hover {
  padding-left: 10px;
  color: #ae0019;
  text-decoration: underline !important;
  transition:  all 0.3s ease-in-out;
}
#footer .bar {
  margin-top: 2rem;
  border: 1px solid #f8f8f8;
}
#footer .footer-bottom p {
  color: #fff;
}
#footer .footer-bottom ul {
  list-style: none;
  float: right !important;
}
#footer .footer-bottom ul li {
  display: inline-block;
  margin: 10px;
}
#footer .footer-bottom ul li img {
  width: 50px;
}

#footer .footer-bottom .utility p {
  font-weight: 300;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 1rem;
  text-align: center;
  color: #c9bebee1;
}
#footer .userfuly {
  margin-top: 2rem;
}

